body{
    background-color: antiquewhite;
    margin: 0 auto;
    width: 1200px;
}
.header{
    width: 1200px;
}

.hero{
    display: flex;
    margin: 40px;
    padding: 20px;
    align-items: center;
    gap: 20px;
}
.hero-contant{
    text-align: center;
    flex: 1;
}   
.hero-mages{
    flex: 1;
}
.hero-mages img{
    width: 100%;
}
.button{
    padding: 5px 16px;
    border: 1 px solid red;
    background-color: cadetblue;
    color: aliceblue;
    border-radius: 50px;
    cursor: pointer;
}